<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.furniture.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.house.furniture.bean.Product">
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="productName" jdbcType="VARCHAR" property="productname" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
	<association property="category" fetchType="lazy" column="cid" 
        select="com.house.furniture.dao.CategoryMapper.selectByPrimaryKey" javaType="com.house.furniture.bean.Category">
      <id column="cid" property="cid"/>
    </association>
    <collection property="images" fetchType="lazy" column="pid" 
      select="com.house.furniture.dao.ImageMapper.listImagesByProduct" ofType="com.house.furniture.bean.Image">
      <id column="imgId" property="imgid"/>
    </collection>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pid, productName, model, price, description, score, cid, stock, createTime, content
  </sql>
  <select id="selectByExample" parameterType="com.house.furniture.bean.ProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.house.furniture.bean.ProductExample">
    delete from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.house.furniture.bean.Product">
    insert into product (pid, productName, model, 
      price, description, score, 
      cid, stock, createTime, 
      content)
    values (#{pid,jdbcType=INTEGER}, #{productname,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{description,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, 
      #{cid,jdbcType=INTEGER}, #{stock,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.house.furniture.bean.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="productname != null">
        productName,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="productname != null">
        #{productname,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.house.furniture.bean.ProductExample" resultType="java.lang.Long">
    select count(*) from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product
    <set>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.productname != null">
        productName = #{record.productname,jdbcType=VARCHAR},
      </if>
      <if test="record.model != null">
        model = #{record.model,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null">
        score = #{record.score,jdbcType=INTEGER},
      </if>
      <if test="record.cid != null">
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.stock != null">
        stock = #{record.stock,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product
    set pid = #{record.pid,jdbcType=INTEGER},
      productName = #{record.productname,jdbcType=VARCHAR},
      model = #{record.model,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DOUBLE},
      description = #{record.description,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=INTEGER},
      cid = #{record.cid,jdbcType=INTEGER},
      stock = #{record.stock,jdbcType=INTEGER},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      content = #{record.content,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.house.furniture.bean.Product">
    update product
    <set>
      <if test="productname != null">
        productName = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.house.furniture.bean.Product">
    update product
    set productName = #{productname,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      description = #{description,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      cid = #{cid,jdbcType=INTEGER},
      stock = #{stock,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  
  <resultMap type="com.house.furniture.bean.Product" id="listProductsByCidMap" autoMapping="true">
    <id column="pid" property="pid"/>
    <association property="category" autoMapping="true" javaType="com.house.furniture.bean.Category">
        <id column="cid" property="cid"/>
    </association>
    <collection property="images" ofType="com.house.furniture.bean.Image" autoMapping="true">
      <id column="imgId" property="imgid"/>
      
    </collection>
  </resultMap>
  
  <select id="listProductsByCid" resultMap="listProductsByCidMap" parameterType="int">
    select a.*,b.categoryname,c.imgid,c.imgpath
    from product a,category b,image c
    where a.pid=c.pid and a.cid=b.cid and a.cid=#{cid}
  </select>
  
  <!-- 自定义，查找产品及其分类 -->
  <resultMap type="com.house.furniture.bean.Product" id="LPBCRM" autoMapping="true">
    <id column="pid" property="pid"/>
    <association property="category" autoMapping="true" javaType="com.house.furniture.bean.Category">
        <id column="cid" property="cid"/>
    </association>
  </resultMap>
  <select id="listProductByCategoryName" resultMap="LPBCRM">
  	select a.categoryname,b.*,c.imgpath from category a
  	join (select * from (select *,row_number() over(partition by cid order by createtime desc) as rownum from product) as tbl where #{num} > rownum) b
  	on a.cid = b.cid
  	join (select * from (select *,row_number() over(partition by pid) as rownum from image) as tbl where 2 > rownum) c
	on b.pid = c.pid
	where a.categoryname = #{name}
  </select>
</mapper>